*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

.linkblue{
    text-decoration: underline;
    color: blue;
}

/* Nav */
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px
}

    #navlogo{
        margin-left: 20px;
    }

    .navrow{
        display: flex;
        align-items: center;
        min-height: 50px;
    }

        .navobject{
            margin: 0  20px;
            padding-top: 20px;
            padding-bottom: 20px;
            
        }

            .navobject:hover {
                border-bottom: #000 2px solid;
                margin-bottom: -2px;
            }

    #begin{
        background-color: #005aff;
        color: #fff;
        padding: 10px 20px;
        margin-left: -5px;
    }
    

/* Header */
.intro{
    width: 100%;
    height: 800px;                     /* Debug */
    background-color: #b4d0e7;
    padding-top: 5%;
}

    .introtitle{
        font-size: 60px;
        font-weight: bold;
        padding-left: 15%;
        padding-right: 15%;
    }

    .descrimg{
        display: flex;
        justify-content:center;
        padding-left: 15%;
        padding-right: 15%;
        
    }

    .descrcolumn{
        display: flex;
        flex-direction: column;
        width: 45%;
        padding-top: 3%;
        padding-right: 5%;
    }

    .introdescr{
        font-size: 20px;
    }

    .trial{
        margin-top: 8%;
        padding: 3%;
        background-color: #005aff;
        color: #fff;
        width: 60%;
    }

    .cancel{
        margin-top: 8%;
        font-size: 20px
    }

    .downarrow{
        margin-top: 13%;
        font-size: 40px
    }

        .introimg{
            /* border: #000 solid 1px; */
            background-image: url(../img/jumbo.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 80%;
            height: 0; 
            padding: 19%;                  /* Debug */
            margin-top: 3%;    
        }


/* Main */
.businessplans{
    display: flex;
    justify-content: center;
    height: fit-content;
    /* border: blueviolet solid 3px; */
    padding-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
}

    .businesscontainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        .businesstitle{
            width: 100%;
            height: fit-content;
            font-size: 25px;
            margin-bottom: 4%;
        }

        .payperiod{
            font-size: 15px;
            margin-bottom: 3%;
        }

            .month{
                margin-right: 3%;
            }

            .selected{
                color:#005aff;
            }

                .checkbox{
                    margin-right: 1%;
                    font-size: 20px;
                }
            
/* Cards */
            .cardscontainer{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                /* border: #000 solid 1px; */
            }

                .card{
                    width: calc((100% - 100px) / 3);
                    height: 100%;
                    border: #000 solid 1px;
                    display: flex;
                    flex-direction: column;
                }

                    .cardtitle{
                        padding: 3% 0;
                        width: 100%;
                        text-align: center;
                        border-bottom: #000 solid 1px;
                    }

                        .cardicon{
                            padding-right: 5px;
                        }

                    .productcardinner{
                        width: 80%;
                        height: 100%;          /* Debug */
                        margin-left: 10%;
                        margin-top: 12%;
                        margin-bottom: 12%;
                        /* border: red solid 1px; */
                    }

                        .productname{
                            font-size: 20px;
                            margin-bottom: 4%;
                        }

                        .productprice{
                            font-weight: bold;
                            margin-bottom: 2%;
                        }

                        .user-timespan{
                            color: grey;
                            margin-bottom: 15%;
                        }

                        .cardinfocontainer{
                            display: flex;
                            margin-top: 5%;
                            margin-bottom: 5%

                        }

                            #cardtrial{
                                margin-top: 15%;
                                width: 100%;
                                text-align: center;
                            }

                            .paynow{
                                margin-top: 8%;
                            }

                    .separator{
                        margin-top: 15%;
                        margin-bottom: 15%;
                        width: 20%;
                        border-bottom: rgba(128, 128, 128, 0.622) solid 1px;
                    }

                        .planservices{
                          
                            display: flex;
                            flex-direction: column;
                        }
                        
                            .tick{
                                color: green;
                            }

            #horizontalbusiness{
                margin-top: 2%;
                padding-top: 0;
            }
                #cardhorizontal{
                    margin-top: 0;
                    width: 100%;
                }

                    #horizontalcardtitle{
                        padding: 1% 0;
                    }

                    #horproductcardinner{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 4%;
                        margin-bottom: 4%;
                        height: 43px;
                        width: 95%;
                        margin-left: 5%;
                    }

                    #horproductname{
                        width: 70%;
                    }

                    .buttoncontact{
                        width: 30%;
                        height: 100%;
                    }

                    .horcontact{
                        width: 80%;
                        height: fit-content;
                        text-align: center;
                        background-color: #005aff;
                        color: #fff;
                        padding: 5% 2%;
                    }

                    .horprodinfo{
                        width: 130%;
                        display: flex;
                        flex-direction: column;
                        margin-left: 5%;
                        height: 0%;
                    }

                    #horinfolite{
                        width: 50%;
                        margin-bottom: 2%;
                    }

/* Partner */
#imgpartner{
    width: 60%;
    height: 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 24%;
    /* border: #000 solid 1px; */
    background-image: url(../img/partner.png);
}

    #partnerdescr{
        width: 40%;
        padding-top: 5%;
        padding-right: 10%;
        /* border: #000 solid 1px; */
        display: flex;
        flex-direction: column;
    }

        #parttext{
            padding-top: 8%;
            margin-bottom: 10%;
        }

        #partbutton{
            width: fit-content;
            padding: 3%;
            border: #000 solid 1px;
        }

/* Features */
#features{
    flex-direction: column;
}

#featurestitle{
    margin-bottom: 0;
}

.featuregallery{
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    
}

    .galleryelement{
        display: flex;
        flex-direction: column;
        width: calc((100% - 100px) / 3);
        height: fit-content;
        /* border: #000 solid 1px; */
    }

        .featureimg{
            width: 100%;
            height: 0;
            padding: 35%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

            #feature1{
                background-image: url(../img/business-feature-switching-tools.png);
            }

            #feature2{
                background-image: url(../img/business-feature-send-files-it.png);
            }

            #feature3{
                background-image: url(../img/business-feature-coordinate-it.png);
            }

            #feature4{
                background-image: url(../img/business-feature-integrations-it.png);
            }

            #feature5{
                background-image: url(../img/business-feature-multi-device.png);
            }

            #feature6{
                background-image: url(../img/business-feature-security.png);
            }

        .featuretitle{
            padding-bottom: 10%;
        }

        #featuredescr{
            margin-bottom: 0%;
        }

/* Costumers */
#costumers{
    flex-direction: column;
}

    #costumerstitle{
        width: 50%;
    }

/* Brands */
#brandsgallery{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-left: 0%;
    margin-right: 0%;
}

    .macroblock{
        display: flex;
        flex-direction: column;
        width: calc((100% / 3));
        height: 600px;
        /* border: #000 solid 1px; */
    }

        .brandsrow{
            display: flex;
            justify-content: space-between;
            width: 100%;
            
        }

            .brandsblocks{
                display: flex;
                justify-content: center;
                align-items: center;
                width: calc(100% / 2);
                height: 300px;
                /* border: #000 solid 1px; */
                position: relative;
            }

            .brandsimg{

                /* border: #0d2481 solid 5px; */
                filter: invert(1);
                position: relative;
                
            }

                .svgbrands{
                    position: absolute;
                    scale: 0.5;
                    top: 100%;
                    left: 100%;
                    transform: translate(-100%, -100%);
                }

                .svgsmall{
                    scale: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .svg{
                    scale: 0.5;
                }

                #block1{
                    background-color: #a2d39b;
                    
                }

                #block2{
                    background-color: #61082b;
                }

                #block3{
                    background-color: #0093ce;
                }

                #block4{
                    background-color: #ff1c1c;
                }

                #block5{
                    background-color: #d5001f;
                }

                #block6{
                    background-color: #b4d0e7;
                }

                #block7{
                    background-color: #0d2481;
                }

                #block8{
                    background-color: #ffd830;
                }

                    .brandsblocks:hover {
                        box-shadow:0px 0px 0px 10px rgba(255, 255, 255, 0.559) inset;
                    }

            .brandcontent{
                    display: flex;
                    flex-direction: column;
                    padding: 6%;
                    overflow: scroll;
            }

                .brandimgdescr{
                    width: 50%;
                    height: 0;
                    padding-bottom: 25%;
                    background-image: url(../img/designit.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }

                #brandsseparator{
                    margin-top: 5%;
                    margin-bottom: 5%;
                }

/* Get Dropbox for your Company */
#get{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 8%;
    width: 100;
    background-color: #b4d0e7;
}

.getcont{
    text-align: left;
    height: fit-content;
    width: 30%;
    font-weight: bold;
    font-size: 40px;
    color: #61082b;
}

.begintrial{
    text-align: center;
    height: fit-content;
    width: 15%;
    padding: 1% 2%;
    margin-left: 8%;
    background-color: #fff;
    color: #000;
}

/* FAQ */
#faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8% 20%;
    padding-top: 0;
}

    .faqtitle{
        width: 100%;
        text-align: left;
        font-size: 35px;
        padding-bottom: 4%;
        font-weight: bold;
        border-bottom: #000 solid 1px;
    }

    .faqquestion{
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        padding-top: 3%;
        padding-bottom: 3%;
        border-bottom: #000 solid 1px;
    }

        .caret-down{
            padding-right: 50px;
        }

/* Footer */
footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    height: fit-content;
}

    .links{
        width: 100%;
        display: flex;
        justify-content: center;
    }

.linkest{
    width: 15%;
    /* background-color: bisque; */
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4%;
    height: fit-content;
    padding-bottom: 4%;
}

    .intrestsect{
        height: fit-content;
        padding-bottom: 8%;
        width: 60%;
        /* border: #000 solid 1px; */
        color: #fff;
        font-weight: bold;
        font-size: 20px;
    }

    .intrestlinks{
        height: fit-content;
        width: 60%;
        /* border: #000 solid 1px; */
        color: #fff;
        line-height: 40px;
    }

        .linkcolumn{
            text-decoration: none;
            color: #fff;
        }

            .linkcolumn:hover{
                text-decoration: underline;
            }

    #footersep{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 15%;
        width: 10%;
        border-bottom: #fff solid 1px;
    }

.langsect{
    display: flex;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    color: grey;
}

.langitem{
    margin-right: 1%;
}